.easyzoom {
	position: relative;

	/* Wrap image tightly for a useful target area */
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.easyzoom.is-loading {
	cursor: progress;
}

.easyzoom.is-ready {
	cursor: crosshair;
}

.easyzoom.is-error {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}