/**
 * The actual naming of elements is not rigid, these are just examples
 */  

/* Zoom window parent */
.zoom-container {
	position:relative;
}

/* Image to zoom */
#zoom {
	display:block; /* This is very important, it needs metrics to provide an area to catch events */
	outline:none; /* Remove click focus style */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* Remove highlight on touch */
}

/* Zoom window */
#zoom-window {
	position:absolute;
	top:0;
	left:410px;
	width:390px;
	height:520px;
	overflow:hidden;
	background:#fff;

	/* Box shadow for < IE9 is defined in ie8.css and ie7.css */
	-webkit-box-shadow:0 0 10px #888;
	   -moz-box-shadow:0 0 10px #888;
	        box-shadow:0 0 10px #888;

	/* Improve fluid motion of the the panel */
	-webkit-transition:left, top 100ms ease-out;
	   -moz-transition:left, top 100ms ease-out;
	    -ms-transition:left, top 100ms ease-out;
	     -o-transition:left, top 100ms ease-out;
	        transition:left, top 100ms ease-out;
}
	.zoom-loading {
		background:#fff url(../img/loading.gif) no-repeat center center;
	}

/* Zoom gallery */
.zoom-gallery {
	margin:15px 0;
	list-style-type:none;
}
	.zoom-thumbnail {
		float:left;
		margin-left:15px;
		text-decoration:none;
	}
		li:first-child .zoom-thumbnail {
			margin-left:0;
		}
		.thumbnail-loading {
			background:#fff url(../img/loading.gif) no-repeat center center;
		}
			.thumbnail-loading img {
				opacity:0.5;
			}
