/* Elements */
html, body {
	min-height:100%;
}
	html {
		font-size:62.5%;
	}
	body {
		overflow-y:scroll;
		font:normal 1.6em/1.5 Arial, sans-serif;
		color:#333;
		background:#eee;
	}

h1 {
	margin:0 0 0.5em;
	font-size:2em;
	line-height:1.25;
	letter-spacing:-1px;
	text-shadow:1px 1px 1px #fff;
}

h2, h3, h4, dt {
	margin:0 0 0.25em;
	font-weight:bold;
	font-size:1em;
	letter-spacing:-0.5px;
}

p, ul, ol, dd {
	margin:0 0 1.5em;
}

ul, ol {
	margin-left:1.75em;
	padding:0;
}
	li {
		margin:0;
		padding:0;
	}

dfn {
	cursor:help;
}

pre, code, kbd, var {
	font-size:1em;
	font:Consolas, "Lucida Console", Monaco, monospace;
}
	pre {
		overflow:auto;
		max-height:15em;
		padding:5px;
		border:1px solid #ccc;
		color:#555;
		background:#fefefe;
	}
	code, kbd, var {
		line-height:1;
	}

a img {
	display:block;
	border:none;
}

/* Inline definition list */
.inline-definitions {
	overflow:hidden;
}
	.inline-definitions dt,
	.inline-definitions dd {
		margin:0;
	}
	.inline-definitions dt {
		float:left;
		clear:left;
		padding-right:5px;
	}
		.inline-definitions dt::after {
			content:':'
		}

/* Layout */
#container {
	width:780px;
	margin:0 auto;
	padding:2em 0;
	zoom:1; /* Clearfix for < IE7 */
}
	/* Micro clearfix <http://nicolasgallagher.com/micro-clearfix-hack/> */
	#container:after {
		clear:both;
		content:"";
		display:table;
	}

#logo {
	font-size:4em;
	text-align:center;
}
	#logo small {
		display:block;
		font-size:0.5em;
	}

#introduction {
	float:right;
	width:370px;
}
#example {
	float:left;
	width:390px;
}

