.syntax .hll { background-color: #49483e }
.syntax  { background: #272822; color: #f8f8f2 }
.syntax .c { color: #75715e } /* Comment */
.syntax .err { color: #960050; background-color: #1e0010 } /* Error */
.syntax .k { color: #66d9ef } /* Keyword */
.syntax .l { color: #ae81ff } /* Literal */
.syntax .n { color: #f8f8f2 } /* Name */
.syntax .o { color: #f92672 } /* Operator */
.syntax .p { color: #f8f8f2 } /* Punctuation */
.syntax .cm { color: #75715e } /* Comment.Multiline */
.syntax .cp { color: #75715e } /* Comment.Preproc */
.syntax .c1 { color: #75715e } /* Comment.Single */
.syntax .cs { color: #75715e } /* Comment.Special */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .kc { color: #66d9ef } /* Keyword.Constant */
.syntax .kd { color: #66d9ef } /* Keyword.Declaration */
.syntax .kn { color: #f92672 } /* Keyword.Namespace */
.syntax .kp { color: #66d9ef } /* Keyword.Pseudo */
.syntax .kr { color: #66d9ef } /* Keyword.Reserved */
.syntax .kt { color: #66d9ef } /* Keyword.Type */
.syntax .ld { color: #e6db74 } /* Literal.Date */
.syntax .m { color: #ae81ff } /* Literal.Number */
.syntax .s { color: #e6db74 } /* Literal.String */
.syntax .na { color: #a6e22e } /* Name.Attribute */
.syntax .nb { color: #f8f8f2 } /* Name.Builtin */
.syntax .nc { color: #a6e22e } /* Name.Class */
.syntax .no { color: #66d9ef } /* Name.Constant */
.syntax .nd { color: #a6e22e } /* Name.Decorator */
.syntax .ni { color: #f8f8f2 } /* Name.Entity */
.syntax .ne { color: #a6e22e } /* Name.Exception */
.syntax .nf { color: #a6e22e } /* Name.Function */
.syntax .nl { color: #f8f8f2 } /* Name.Label */
.syntax .nn { color: #f8f8f2 } /* Name.Namespace */
.syntax .nx { color: #a6e22e } /* Name.Other */
.syntax .py { color: #f8f8f2 } /* Name.Property */
.syntax .nt { color: #f92672 } /* Name.Tag */
.syntax .nv { color: #f8f8f2 } /* Name.Variable */
.syntax .ow { color: #f92672 } /* Operator.Word */
.syntax .w { color: #f8f8f2 } /* Text.Whitespace */
.syntax .mf { color: #ae81ff } /* Literal.Number.Float */
.syntax .mh { color: #ae81ff } /* Literal.Number.Hex */
.syntax .mi { color: #ae81ff } /* Literal.Number.Integer */
.syntax .mo { color: #ae81ff } /* Literal.Number.Oct */
.syntax .sb { color: #e6db74 } /* Literal.String.Backtick */
.syntax .sc { color: #e6db74 } /* Literal.String.Char */
.syntax .sd { color: #e6db74 } /* Literal.String.Doc */
.syntax .s2 { color: #e6db74 } /* Literal.String.Double */
.syntax .se { color: #ae81ff } /* Literal.String.Escape */
.syntax .sh { color: #e6db74 } /* Literal.String.Heredoc */
.syntax .si { color: #e6db74 } /* Literal.String.Interpol */
.syntax .sx { color: #e6db74 } /* Literal.String.Other */
.syntax .sr { color: #e6db74 } /* Literal.String.Regex */
.syntax .s1 { color: #e6db74 } /* Literal.String.Single */
.syntax .ss { color: #e6db74 } /* Literal.String.Symbol */
.syntax .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.syntax .vc { color: #f8f8f2 } /* Name.Variable.Class */
.syntax .vg { color: #f8f8f2 } /* Name.Variable.Global */
.syntax .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.syntax .il { color: #ae81ff } /* Literal.Number.Integer.Long */